body{
background-color: rgb(5, 116, 5);
display:flex;
justify-content: center;
align-content: center;
height: 700px;
margin: 0;

}

button {
  background-color: rgb(143, 208, 208);
  color: aliceblue;
  font-family: "Bai jamjuree", sans-surif;
}

.passo{
  display: none;


}body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}